body {
    font-family: 'Alkatra', cursive;
    background-color: aqua;
    margin: 50px;
    padding: 50px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightcoral;
    border: 1px solid #141212;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  button[type="button"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #555;
  }
  
  .result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #333;
  }
  